body {
  background-color: $colorbg;
  font-family: "Hind", sans-serif;
}
html {
  height: 100%;
  background-color: aqua;
}

h2 {
  font-size: 60px;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.95);
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 30px;
}
h3 {
  font-size: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
}
