body {
  background-color: linear-gradient(
    to bottom,
    #edf0f8,
    #f0f3f9,
    #f2f6fb,
    #f6f8fc,
    #f9fbfd,
    #f9fbfd,
    #f9fcfe,
    #f9fcfe,
    #f6fbfd,
    #f2fafb,
    #eff9f9,
    #edf8f6
  );
  font-family: "Hind", sans-serif;
  font-weight: 400;
}

html {
  height: 100%;
}

h3 {
  font-size: 30px;
  padding-top: 10px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContainer {
  padding-bottom: 100px;
  padding-top: 40px;
}
.header {
  box-shadow: 0 4px 5px;
  margin: 0;
  background-color: white;
}

.slide {
  margin-top: 10px;
}

.slide .slide img {
  height: 40vh;
}

.carousel {
  position: relative;
  padding-top: 10px;
  padding-bottom: 30px;
}

.carousel .carousel img {
  border-radius: 10px;
}

.textoLogo {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
}
.textoLogo2 {
  padding: 15px;
  list-style: none;
  font-family: "Hind", sans-serif;
  font-weight: 800;
}

.logoChilli {
  border-radius: 250px;
  padding-top: 10px;
}

.bienvenido {
  font-family: "Pattaya", sans-serif;
  font-size: 4em;
}
#cards {
  background-color: #f7fbfc;
  padding: 30px 0px;
}
#cards h2 {
  font-weight: 900;
  font-size: 34px;
  padding-bottom: 5px;
}

.card-body {
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}
.card {
  margin: 20px 10px;
}
.card-body a {
  color: #0c7f90;
  text-decoration: none;
  font-size: 15px;
  margin-top: auto;
  font-weight: 300;
}
.card-body a:hover {
  color: #63a6b0;
  text-decoration: none;
}

.card-img-top:hover {
  filter: opacity(0.9);
  transform: scale(1.02);
}

.primeraSeccion {
  margin-top: 100px;
  margin: 10px;
}
@media only screen and (min-width: 768px) {
  .primeraSeccion {
    margin: 100px;
  }
}
.segundaSeccion {
  padding-top: 80px;
  padding-bottom: 10px;
}

.form {
  position: relative;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 40px;
  box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.2);
  background-image: radial-gradient(
    circle farthest-corner at 18.7% 37.8%,
    rgba(250, 250, 250, 1) 0%,
    rgba(225, 234, 238, 1) 90%
  );
}
.form input,
.form textarea {
  border: none;
}
.enviar {
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}
.limpiar {
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}
.limpiar:hover {
  background: #98c2f1;
}
.enviar:hover {
  background: #98c2f1;
}
.icono {
  font-size: 80px;
  padding: 10px;
  text-align: center;
}
.instagram {
  color: rgba(238, 95, 95, 0.61);
}

.redes {
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}
.mapa {
  margin-top: 100px;
}
.mapa iframe {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.textoFooterLogo {
  font-family: "Pattaya", sans-serif;
}

.footer {
  padding: 20px 10px;
  background-color: rgba(240, 240, 240, 0.199);
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer ul li a:hover {
  opacity: 1;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: black;
}

.seccionShowTitulo {
  background-color: #f37a65;
  text-align: center;
  border: 1px solid;
  border-radius: 42px;
  padding: 0;
  font-size: 60px;
  font-weight: 500;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.95);
  margin: 30px;
}

.grid-shows {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.95);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.95);
  border-radius: 15px;
  padding: 0.5em 0.7em;
  margin: 30px;
  place-items: center;
}

.imagenShows {
  display: -ms-grid;
  display: grid;
  background-size: cover;
  border-style: solid;
  border-radius: 300px;
}

.grid-grilla {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 5%;
  place-items: center;
  gap: 20px 50px;
}

.grid-show-item {
  border-style: solid;
  padding: 3px 45px;
  border-radius: 10px;
}

.grid-delivery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.95);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.95);
  border-radius: 15px;
  padding: 0.5em 0.7em;
  margin: 30px;
  text-align: center;
}

.imagenDelivery {
  border-style: solid;
  border-radius: 300px;
}

.deliveryTitulo {
  text-align: center;
  background-color: #f37a65;
  border-radius: 10px;
  border: 1px solid;
}

.deliveryParrafo {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  border-radius: 30px;
  text-align: center;
  padding-top: 30px;
}

.grid-delivery-item2 {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #fc947f;
  border-radius: 20px;
  border: 1px solid;
}

.seccionNosotros {
  text-align: center;
  padding: 0;
  font-size: 40px;
  font-weight: 500;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.95);
  border-radius: 55px;
  margin: 30px 0px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#e6e9f0),
    to(#eef1f5)
  );
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.seccionNosotros2 {
  text-align: center;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.95);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.95);
  border-radius: 15px;
  padding: 0.5em 0em;
  margin: 50px 0px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#e6e9f0),
    to(#eef1f5)
  );
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.seccionNosotros3 {
  text-align: center;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.95);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.95);
  border-radius: 15px;
  padding: 0.5em 0em;
  margin: 50px 0px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#dfe9f3),
    to(white)
  );
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.imagenNosotros {
  border-style: solid;
  border-radius: 50%;
}

.parrafoNosotros {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.reservas {
  margin-top: 40px;
  margin-bottom: 50px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#e6e9f0),
    to(#eef1f5)
  );
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.reservasInfo {
  position: relative;
  background-image: url("../imagenes/home/fachada2.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.reservasInfo::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #4090ecea;
  opacity: 0.9;
}
.infoTitle,
.infoItem {
  position: relative;
  z-index: 2;
  color: white;
}
.infoTitle {
  margin-bottom: 40px;
}
.infoTitle span {
  font-size: 100px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
.infoTitle h2 {
  font-size: 35px;
  text-align: center;
}
.infoItem {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 10px;
  padding: 10px;
}
.infoItem p {
  padding: 7px;
}
.infoItem p span {
  font-size: 20px;
  margin-right: 10px;
  margin-left: 5px;
}
.formularioReservas {
  padding: 30px 40px;
  font-size: 25px;
  font-weight: 400;
}

.formularioReservas fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
fieldset h3 {
  text-align: center;
}
.formularioReservas input,
.formularioReservas textarea {
  width: 100%;
  border: none;
  padding: 8px 0px 5px;
  font-family: "Open sans";
}

.botonItem {
  background: #969faa;
  border: none;
  border-radius: 25px;
}
.botonItem:hover {
  background: #6196d3;
  color: white;
}

.checkbox input {
  width: 5%;
}

.formulario-reservas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  width: 32%;
  padding: 10px 40px;
}
.formulario-reservas input,
.formulario-reservas textarea {
  border: none;
}

.seccionMenu {
  text-align: center;
  padding: 0;
  font-size: 40px;
  font-weight: 500;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.95);
  border-radius: 42px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#e6e9f0),
    to(#eef1f5)
  );
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.menu {
  padding-bottom: 40px;
}
.titulo {
  justify-content: space-evenly;
}
.tituloPlatos {
  text-align: center;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#e6e9f0),
    to(#eef1f5)
  );
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.95);
  margin-bottom: 30px;
  margin-left: 50px;
}
.tituloTragos {
  text-align: center;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#e6e9f0),
    to(#eef1f5)
  );
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.95);
  margin-bottom: 30px;
  margin-right: 60px;
}

.imagenMenu {
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.95);
}
.imagenMenu:hover {
  filter: opacity(0.9);
  transform: scale(1.02);
}

.grid-menu-items {
  text-align: center;
  padding: 0;
}
.containerBotonMenu {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding: 10px;
}
.botonCarta {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 80px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#e6e9f0),
    to(#eef1f5)
  );
  background-image: linear-gradient(to top, #bcbdc2 0%, #eef1f5 100%);
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  color: black;
  font-size: 35px;
  transition: all 400ms ease-out;
}
.botonCarta:hover {
  transform: scale(1.1);
  text-decoration: none;
  color: rgb(243, 122, 101);
  background: white;
}
