@import "./variables";
@import "./globales";
@import "./componentes/footer";
@import "./componentes/header";
@import "./secciones/home";
@import "./secciones/cronograma";
@import "./secciones/delivery";
@import "./secciones/menu";
@import "./secciones/nosotros";
@import "./secciones/reservas";

@mixin titulo {
  background-color: rgb(243, 122, 101);
  border-radius: 10px;
  text-align: center;
  border: 1px solid;
}
