.header {
  box-shadow: 0 4px 5px;
  margin: 0;
  background-color: white;
  .imglogo {
    border-radius: 300px;
  }
}
.slide {
  margin-top: 10px;
  .slide img {
    height: 40vh;
  }
}

.carousel {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  .carousel img {
    border: solid;
    border-radius: 10px;
  }
}

.form {
  position: relative;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  padding-bottom: 40px;
}

.mapa {
  padding-bottom: 20px;
  padding-top: 40px;
  .map-container-6 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    .map-container-6 iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}

.redes {
  font-size: 50px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 992px) {
  .redes {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
  }
  .mapa {
    padding-left: 50px;
  }
}

.item-footer {
  display: flex;
  color: black;
  font-size: 15px;
  justify-content: center;
}
